body {
    display: inline-block;
    background-image: url("https://i.pinimg.com/originals/ea/f7/aa/eaf7aada1e2e456be7c4840cc614ab1b.jpg");
    background-color: transparent;
    position: fixed;
}

.topo {
    width: 100%;
    padding: 100px;
}

h1 {
    display: inline-block;
    text-align: center;
    width: 80%;
    vertical-align: top;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-style: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 50px 0;
}

p {
    display: inline-block;
    text-align: center;
    width: 80%;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-style: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 0 45px 0;
}

.botao {
    display: inline-block;
    text-align: center;
    width: 85%;
}